button {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  width: 200px;
  background-color: #979797;
  color: #f9f5f2;
  border: none;
}

button:hover {
  background-color: #2f323b;
  color: #f9f5f2;
}
