.hero {
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5)), url("/images/standing-office.jpg");
  height: 500px;
  background-position: top;
  background-size: cover;
}

.hero-text {
  width: 80%;
  padding: 100px;
  text-align: left;
}

.hero-text h1 {
  display: inline;
  font-size: 55px;
  padding: 10px;
}

.hero button {
  width: 250px;
  border: 2px solid rgba(204,0,153,0.9);
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.5);
  color: black;
  margin-top: 50px;
  display: block;
}

.hero button:hover {
  background-color: rgba(204,0,153,0.65);
  color: white;
  font-weight: 300;
  border: none;
}

.body-text {
  width: 60%;
  margin: 50px auto;
}

.image-block {
  width: 85%;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

.image-block h2 {
  text-align: left;
  padding-left: 50px;
}

.image-cropping-box {
  height: 0;
  padding-bottom: 22%;
  width: 22%;
  margin: 5px;
  overflow: hidden;
  display: inline-block;
}

.image-cropping-box img {
  width: 100%;
}


@media (max-width: 900px) {
  .intro-container {
  flex-direction: column;
  text-align: center;
  }

  .hero-text img{
    width: 60%;
    padding-top: 0;
  }

  .hero-text p{
    margin-top: 0;
    font-size: 50%;
    width: 60%;
  }

  .hero-text{
    top: 25%;
  }

  .intro-text {
    padding: 0;
  }
}
